{% extends 'base.html.twig' %}

{% block title %}Quai Antique|Validation{% endblock %}

{% block body %}
<div class="container text-center">
        <h1 class="text-center m-5">Réservation validée</h1>
        <p>Votre réservation a bien été prise en compte.</p>
        <img width="75%" src="images/logoqa.png" alt="logo">

</div>
{% endblock %}
