{% extends 'base.html.twig' %}

{% block title %}Notre carte{% endblock %}

{% block body %}

<h1 class="text-center m-5">Nos formules</h1>
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/maeam/Projets IT/quai_antique/src/Controller/FormulaController.php'|file_link(0) }}">src/Controller/FormulaController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/maeam/Projets IT/quai_antique/templates/formula/index.html.twig'|file_link(0) }}">templates/formula/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
