{% extends 'base.html.twig' %}

{% block title %}footer{% endblock %}

{% block body %}
<footer>
    <h3>Nos horaires d'ouverture</h3>
        <i class="fa-solid fa-clock"></i>
            {% for openhour in openhours %}
                <table>
                    <tr>
                        <td> {{ openhour.openhours }} </td>
                    </tr>
                </table>
            {% endfor %}
</footer>
{% endblock %}
