<!-- Footer --!>
<footer>
    <h3>Nos horaires d'ouverture</h3>
        <i class="fa-solid fa-clock"></i>
        <table>
            {% for openhour in openhours and active is same as true%}
                <tr>
                    <td>{{ openhour.open_time }}</td>
                </tr>
            {% endfor %}
        </table>
</footer>
