{% extends 'base.html.twig' %}

{% block title %}A propos de nous{% endblock %}

{% block body %}
<h1 class="text-center m-5">Le Quai Antique</h1>

<section class="container text-center">
    <div class="row">
        <div class="col">
            <p>Venez à la découverte de notre cuisine du marché rythmée par les saisons: nous changeons la carte 4 fois par an.
            Nous recherchons la qualité, la proximité et la fraîcheur.</p>

            <p>Notre chef, Arnaud Michant, avec sa cuisine à la fois traditionnelle et innovante, met en valeur les produits soigneusement sélectionnés auprès des producteurs de la région.
            Nous privilégions les circuits courts et mettant en avant les richesses de notre terroir.
            </p>

            <p>Arnaud Michant et son équipe vous attendent.</p>
        </div>

        <div class="col">
            <img width="75%" src="images/waitress.jpg" alt="serveuse">
        </div>
    </div>
</section>


{% endblock %}
