{% extends 'base.html.twig' %}

{% block title %}Réserver une table{% endblock %}

{% block body %}
    <div class="container mb-2">
        <form>
            <div class="mb-2">
                <label for="InputEmail" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
            </div>
            <div class="mb-2">
                <label for="InputName" class="form-label">Nom</label>
                <input type="text" class="form-control" id="InputName">
            </div>

            <div class="mb-2">
                <label for="InputName" class="form-label">Prénom</label>
                <input type="text" class="form-control" id="InputFirstName">
            </div>

            <div class="mb-2">
                <label for="InputDateTime" class="form-label">Date et heure</label>
                <input type="datetime" name="rdv">
            </div>

            <div class="mb-2">
                <label class="form" for="form-label">Nombre de convives</label>
                <input type="number" class="form-label" id="InputNumber">
            </div>
            <div class="mb-2">
                <label for="InputAllergy" class="form-label">Allergies</label>
                <input type="text" class="form-control" id="InputAllergy">
            </div>
            <button type="submit" class="btn btn-info">Réserver</button>
        </form>
    </div>
{% endblock %}