{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
    <h1 class="text-center m-5">Bienvenue dans votre espace d'administration</h1>
    <br>
    <a href="/">Retour sur la page d'accueil</a>
{% endblock %}