/* color 
primary color : #000000, noir
secondary color : #c69c6d, lion
third color : #a54657, redwood
fourth color : #582630, wine
fifth color : #EDFFEC, honeydew
*/

/* Global*/
a {
    text-decoration: none;
    color :#582630
}

a:hover {
    color: #c69c6d;
}

/*specific navbar*/
.list-nav::after{
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 0;
    height: 2px;
    background: #c69c6d;
    transition: width 0.2s ease-in-out;
}

.list-nav:hover:after{
    width: 2rem;
}

footer {
    background: #582630;
}

/* button */
.btn-info {
    background-color:  #582630;
    color: white;
}

/* card */
.card-footer {
    background-color: #EDFFEC;
}

/*eye */

label {
    position: relative;
}

label input {
    font-size: 1em;
    color: white;
    background: transparent;
    padding: 1rem 1.2rem;
    width: 350px;
    border-radius: 5px;
    border: 2px solid #582630;
    transition: all 0.2s;
}

label input:focus {
    border-color: #a54657;
}

label .password-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    color: white;
    transition: all 0.2s;
}

label .password-icon:hover {
    cursor: pointer;
    color: #a54657;
}

label .password-icon .fa-eye-slash {
    display: none;
}

