/* color 
primary color : #000000, noir
secondary color : #c69c6d, lion
third color : #a54657, redwood
fourth color : #582630, wine
fifth color : #EDFFEC, honeydew
*/

/* Global*/
a{
    text-decoration: none;
}


/*specific*/
.list-nav::after{
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 0;
    height: 2px;
    background: #c69c6d;
    transition: width 0.2s ease-in-out;
}

.list-nav:hover:after{
    width: 2rem;
}
footer {
    background: #582630;
}


