{% extends 'base.html.twig' %}

{% block title %}Quai Antique|Nos photos{% endblock %}

{% block body %}
    <h1 class="text-center m-5">Notre galerie d'images<h1>

<section class="container center">

<div class="row">
<div class="card mb-5 col-lg-3 col-md-2 col-1" style="width: 18rem;">
        <img src="images/truite.jpg" class="card-img-top" alt="truite">
        <div class="card-body">
            <h5 class="card-title">La Truite Rose</h5>
        </div>
    </div>

    <div class="card mb-5 col-lg-3 col-md-2 col-1" style="width: 18rem;">
        <img src="images/oeuf.jpg" class="card-img-top" alt="oeuf">
        <div class="card-body">
            <h5 class="card-title">L'oeuf</h5>
        </div>
    </div>

    <div class="card mb-5 col-lg-3 col-md-2 col-1" style="width: 18rem;">
        <img src="images/galce0.jpg" class="card-img-top" alt="glace">
        <div class="card-body">
            <h5 class="card-title">Glaces Artisanales</h5>
        </div>
    </div>
    <div class="card mb-5 col-lg-3 col-md-2 col-1" style="width: 18rem;">
        <img src="images/desert.jpg" class="card-img-top" alt="brioche">
        <div class="card-body">
            <h5 class="card-title">Brioche perdue</h5>
        </div>
    </div>
</div>


</section>
    
{% endblock %}
