{% extends 'base.html.twig' %}

{% block title %}Notre Gallerie d'images{% endblock %}

{% block body %}
{# <div>
{{ <pre>
	{{ dump() }}
</pre>}}
</div>
#}
>
<div class="card" style="width: 18rem;">
    <img src={{ asset('uploads/~ image.title') }} class="card-img-top" alt="plat du restaurant">
</div>



{% endblock %}
